body{
	margin: 0%;
	background-color: aliceblue;
}
header{
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
	padding: .5%;
	color: white;
	background-color: black;
	font-size: 2em;
}
header span{
	float: right;
	font-size: 1em;
}
header span a{
	text-decoration: none;
}
header span img{
	width: 20%;
	max-width: 32px;
}
#content{
	display: flex;
	position: absolute;
	top: 5%;
	width: 100%;
	height: 100%;
}
#side_links{
	flex-direction: column;
	background-color: black;
	max-width: 7%;
	margin-left: 0%;
	margin-bottom: 0%;
	padding: 0.5%;
}
#side_links a{
	background-color: grey;
	border: 1px white solid;
	color:white;
	text-decoration: none;
}
#side_links a:hover{
	color: pink;
}
#side_links a::selection{
	color: pink;
}
#side_links a img{
	max-width: 10%;
}
#face{
	max-width: 100%;
}
#center{
	margin-top: 1%;
	padding:1%;
	display: flex;
	flex-direction: column;
	max-width:70%;
}